// Ranglar
$primary-color: rgba(255, 102, 51, 1);
$secondary-color: rgba(112, 192, 91, 1);
$filling-color: rgba(229, 255, 222, 1);
$text-color: rgb(34, 34, 34);
$p-color: rgba(96, 96, 96, 1);
$font-stack: "Rubik";
$section-bg: rgba(251, 248, 236, 1);
$box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
$white-bg: rgb(255, 255, 255);
$span-color: rgba(191, 191, 191, 1);
